<h1>Welcome to my home Page</h1>
  <div class="container" id="home-container">
    <div class="jumbotron text-centre text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">This is my first ever Ruby on Rails project. A standard blog project, built using Rails 6 with a scaffold and database. It displays a list of articles and their descriptions and they can be created, updated or delete or just viewed.</p>
      <hr class="my-4">
      <p> Components from Bootstrap were used to create this web page. The app will be pushed to GitHub and from there deployed to Heroku. In development, the Rails standard sqlite3 database was used and for Heroku the table was migrated to Postgresql.</p>
       <%= link_to "Sign Up!", signup_path, class:"btn btn-success btn-lg" %>
     </div>
  </div>
